* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-famil: 'spartan', sans-serif;
}

.logo img {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.cart {
  font-size: 24px;
  color: #333;
  cursor: pointer;
  margin-left: auto;
  align-items: center;
}


h1 {
    font-size: 50px;
    line-height: 60px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 52px;
    color: #222;
}

h4 {
    font-size: 22px;
    color: #222;
}

h6 {
    font-size: 18px;
    color: #222;
    font-weight: 700;
}

p {
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #ecdede;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

/* Basic navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  background: none;
  padding: 10px 20px;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

/* Hide hamburger on large screens */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}


#navLinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navLinks li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navLinks li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #222;
    transition: 0.3s ease;
}

#navLinks li a :hover,
#navLinks li a.active {
    color: #088178;
}

#navLinks li a.active::after,
#navLinks li a :hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#shop-banner1 {
    background-image: url("image/new/w6.jpg");
    height: 40vh;
    width: 100%;
    background-position: top 40% right 10%;
    background-size: cover;
    padding: 0 60px;
    background-color: #0888;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#hero {
    background-image: url("image/masa/mary.jpg");
    height: 80vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h2 {
    color: blue;
}

#hero h1 {
    color: #088178;
}

#hero h1 .p {
    color: green;
}

#hero button {
    background-color: #222;
    color: #088178;
    border: 0;
    padding: 14px 80px 16px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#product3 {
    text-align: center;
}

#product3 .masa-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product3 .masa{
    width: 15%;
    min-width: 20px;
    padding: 0% 15px;
    border: 3px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0 ,0 ,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product3 .masa:hover{
    box-shadow: 20px 20px 30px rgb(0 ,0 ,0, 0.08);
}

#product3 .masa img{
     width: 100%;
     border-radius: 20px;
}

#product3 .masa .des{
    text-align: start;
    padding: 10px 0;
}

#product3 .masa .des span{
    color: #222;
    font-size: 12px;
}

#product3 .masa .des h4{
    padding-top: 7px;
    color: #222;
}

#product3 .masa .des i{
    font-size: 14px;
    color: rgb(243, 181, 25);
}

#product3 .masa .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product2 {
    text-align: center;
}

#product2 .masa-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product2 .masa{
    width: 15%;
    min-width: 20px;
    padding: 0% 15px;
    border: 3px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0 ,0 ,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product2 .masa:hover{
    box-shadow: 20px 20px 30px rgb(0 ,0 ,0, 0.08);
}

#product2 .masa img{
     width: 100%;
     border-radius: 20px;
}

#product2 .masa .des{
    text-align: start;
    padding: 10px 0;
}

#product2 .masa .des span{
    color: #222;
    font-size: 12px;
}

#product2 .masa .des h4{
    padding-top: 7px;
    color: #222;
}

#product2 .masa .des i{
    font-size: 14px;
    color: rgb(243, 181, 25);
}

#product2 .masa .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 {
    text-align: center;
}

#product1 .masa-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .masa{
    width: 15%;
    min-width: 20px;
    padding: 0% 15px;
    border: 3px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgb(0 ,0 ,0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .masa:hover{
    box-shadow: 20px 20px 30px rgb(0 ,0 ,0, 0.08);
}

#product1 .masa img{
     width: 100%;
     border-radius: 20px;
}

#product1 .masa .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .masa .des span{
    color: #222;
    font-size: 12px;
}

#product1 .masa .des h4{
    padding-top: 7px;
    color: #222;
}

#product1 .masa .des i{
    font-size: 14px;
    color: rgb(243, 181, 25);
}

#product1 .masa .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("image/eng/en3.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h3{
    color: blue;
    font-size: 25px;
}

#banner h2{
    color: rgb(165, 37, 165);
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: rgb(228, 9, 9);
}

#banner button:hover{
    background: rgb(112, 243, 112);
    color: rgb(34, 37, 238);
}


#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/new/w9.jpg");
    min-width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 20px;
}

#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/new/w10.jpg");
    min-width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 20px;
}

#sm-banner h4{
    color: #014d0c;
    font-size: 30px;
    font-weight: 2000;
}

#sm-banner h2{
    color: #833602;
    font-size: 50px;
    font-weight: 2500;
}

#sm-banner span{
    color: #2828c5;
    font-size: 30px;
    font-weight: 1000;
}

#sm-banner .banner-box:hover {
    color: #e9e9ec;
    background-color: #014d0c;
    border: 1px solid #81081c;
    border-radius: 60px;
}


#sm-banner .banner-box:hover button{
    color: #e9e9ec;
    background-color: #014d0c;
    border: 1px solid #088178;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px 60px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("image/N/t1c.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("image/N/t7.jpg");
}

#banner3 .banner-box3 {
    background-image: url("image/N/t4.jpg");
}

#banner3 h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

#banner3 h3 {
    color: #fff;
    font-size: 800;
    font-weight: 15px;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("image/N/mn.jpg");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818e;
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter input {
    height: 3.12srem;
    padding: 10px 1.25em;
    font-size: 16px;
    width: 200px;
    border: 1px solid rgb(240, 171, 177);
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button {
    background-color: #1e05aa;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-wrap;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 15px;
    width: 50px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    width: 80px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #nav-links.active {
       display: flex;
    }

    #hamburger {
    display: block;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #2222;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-cart {
        display: none;
    }

    #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
     
    }
    
    #product2 .masa-container {
    justify-content: center;
    }

    #sm-banner .banner-box {
    display: none;
    }

    #product1 .masa-container {
    justify-content: center;
    }

    #product1 .masa {
    margin: 15px;
    }
    #banner {
    height: 20vh;
    }
    #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    }

}


#contact {
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
  border-top: 2px solid #ccc;
}

#contact h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: #333;
}

#contact p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 30px;
}

.contact-info p {
  margin: 5px 0;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact input,
#contact textarea {
  padding: 15px;
  font-size: 0.8rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}


#contact button {
  padding: 12px;
  font-size: 1.1rem;
  background-color: #007BFF; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#contact button:hover {
  background-color: #0056b3;
}

footer1 {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2; 
  color: #333;
}

#blog {
    text-align: start;
    padding: 20px;
    background-color: #f2f2f2;
}
